:root {
    // Light theme (mặc định)
    --primary-color: #7367f0;
    --light-purple: #a491f2;
    --text-color: #000;
    --text-secondary: #6c757d;
    --border-color: #eaeaea;
    --sidebar-bg: #fff;
    --sidebar-active: #7367f0;
    --background-color: #ffffff;
    --background-inline: #edeff3
  }
  
  [data-theme="dark"] {
    --primary-color: #ff7640;
    --light-purple: #a491f2;
    --text-color: #ffffff;
    --text-secondary: #6c757d;
    --border-color: #eaeaea;
    --sidebar-bg: #1f1e26;
    --sidebar-active: #ff7640;
    --background-color: #1f1e26;
    --background-inline: #16151b;
  }

// Colors
$primary-color: #FF0000;
$text-color: #000000;
$text-secondary: rgba(0, 0, 0, 0.5);
$white: #FFFFFF;
$gray-light: #F5F5F5;
$gray-medium: #C0C0C0;
$gray-text: #A7A7A7;

// Typography
$font-family-base: 'Poppins', sans-serif;
$font-family-logo: 'Frankfurter Medium', sans-serif;

// Spacing
$spacing-xs: 8px;
$spacing-sm: 16px;
$spacing-md: 24px;
$spacing-lg: 32px;
$spacing-xl: 40px;

// Border Radius
$border-radius-sm: 10px;
$border-radius-md: 20px;
$border-radius-lg: 24px;
$border-radius-xl: 66px;
$border-radius-xxl: 90px;

// Shadows
$shadow-sm: 0px 0px 47.8px rgba(0, 0, 0, 0.1);
$shadow-md: 0px 9px 20px rgba(0, 0, 0, 0.02);
$shadow-lg: 0px 11px 25px rgba(0, 0, 0, 0.06);

// Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1440px;
